<!DOCTYPE html>

<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <h1>
            WELCOME TO NODE.JS! 
        </h1>

    </header>
    <nav class=navigation>
        <ul class=navBar>
            <li class="lists"><a class="anchors" href="/question1">Question 1</li>
            <li class="lists"><a class="anchors" href="/question2">Question 2</li>
            <li class="lists"><a class="anchors" href="/question3">Question 3</li>
            <li class="lists"><a class="anchors" href="/question4">Question 4</li>
            <li class="lists"><a class="anchors" href="/question5">Question 5</li>
            <li class="lists"><a class="anchors" href="/question6">Question 6</li>
            <li class="lists"><a class="anchors" href="/question7">Question 7</li>
            <li class="lists"><a class="anchors" href="/question8">Question 8</li>
            <li class="lists"><a class="anchors" href="/question9">Question 9</li>
            <li class="lists"><a class="anchors" href="/question10">Question 10</li>
        </ul>

    </nav>
</body>